body
{
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg-container{
    background-color: rgb(255, 255, 255);
}
.titulos
{
    font-family: 'Raleway', sans-serif;
}
.jumbo-color
{
    background:  rgb(54, 50, 50);
    background: linear-gradient(#e66465, #9198e5);
    padding: 2 3rem;
}
.card-hotel
{
    width: 14rem;
}
.justify-text
{
    text-align: justify;
}
.footer
{
    margin-top: auto;
    background-color: red;
}
.social-icon
{
    font-size: 2rem;
    color: white;
}
